<head>
<link rel="stylesheet" type="text/css" href="/assets/css/form.css">
</head>

<% title="Login" %>
<div class="container text-center">
  <div class="userform">
    <h1 style="color: white">LOGIN</h1>
    <hr>
    <form method="POST">
      <label for="username"><i class="fas fa-user"></i></label>
      <input name="username" type="text" placeholder="Username"><br>
      <label for="password"><i class="fas fa-lock"></i></label>
      <input name="password" type="password" placeholder="Password">
      <a href="/passwordrecovery">Forgot password?</a><br>
      <button type="submit">Log In</button>
    </form><br>
    <a id="v" href="/signup#footer">Still don't have an account?</a>
  </div>  
</div>